<div class="col-sm-offset-1 col-sm-10">
    <p class="text-info">

    <h3>Please select the products you want and add them to your shopping cart.<br/>
        When you are done, click the shopping cart icon to review your order and check out.<br></h3>
    </p>

    <p>
        <!-- show List or show gallery buttons -->
        <button type="button" class="btn btn-primary" aria-label="List"
                ng-click="showList=true">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp Edit List
        </button>
        <button type="button" class="btn btn-primary" aria-label="Gallery"
                ng-click="showList=false">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp Edit Gallery
        </button>

        Search: <input ng-model="search">
    </p>
    <table class="table table-bordered">
        <tr class="well">
            <td class="tdRight" colspan="4">
                <h4>
                    <a href="/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    </a>
                </h4>
            </td>
        </tr>
    </table>

    <div class="row" ng-hide="showList">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
             ng-repeat="product in store.products | orderBy:'name' | filter:search">
            <div class="panel panel-primary panel-product">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{product.name}}
                    </h3>
                </div>
                <div class="panel-body">
                    <img ng-src="{{product.image}}" alt="{{product.name}}" style="height:70px"/>

                    <h2 style="float:right">
                        {{product.price | currency}}
                    </h2><br>
                    <b>Description:</b><br>

                    <p>&nbsp;&nbsp;&nbsp;{{product.description}}</p>

                    <br>
                    <a href="" ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
                        <button class="btn btn-success">add to cart</button>
                    </a>

                    <h4>
                        <a href="/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                        </a>
                    </h4>

                    <a href="/cart">
                        <button class="btn btn-success">
                            <b>Checkout</b>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="showList">
        <table class="table table-bordered">
            <tr ng-repeat="product in store.products | orderBy:'name' | filter:search">
                <td class="tdCenter">
                    <img ng-src="{{product.image}}" alt="{{product.name}}" style="height:70px"/>
                </td>
                <td>
                    <b>{{product.name}}</b><br/>
                    {{product.description}}
                </td>
                <td class="tdRight">
                    {{product.price | currency}}
                </td>
                <td class="tdCenter">
                    <a href="" ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
                        <button class="btn btn-success">add to cart</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <table class="table table-bordered">
        <tr class="well">
            <td class="tdRight" colspan="4">
                <h4>
                    <a href="/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    </a>
                </h4>
            </td>
        </tr>
    </table>
</div>
